[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "promr"]
	path = promr
	url = https://github.com/domodwyer/promr
	shallow = true
	registered = true
